body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navbar__home {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 800;
  height: 100%;
}

#navbar img {
  height: 70%;
  vertical-align: middle;
}

#navbar span {
  vertical-align: middle;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 0 10px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  font-weight: 800;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  /* margin: 0; */
}

ul {
  margin: 0;
}

section div {
  width: 700px;
  text-align: center;
  margin: auto;
}

#welcome {
  background-color: #f9f9f9;
  text-align: center;
  padding: 40px;
  border-top: grey 1px solid;
  border-bottom: grey 1px solid;
}

#welcome img {
  box-sizing: border-box;
  width: 100px;
  padding: 10px;
  background-color: white;
  border: grey 1px solid;
  border-radius: 50%;
}

#about {
  text-align: center;
  padding: 40px;
}

#careers {
  background-color: #f9f9f9;
  text-align: center;
  padding: 40px;
  border-top: grey 1px solid;
  border-bottom: grey 1px solid;
}

#works {
  text-align: center;
  padding: 40px;
}

#skillset {
  background-color: #f9f9f9;
  text-align: center;
  padding: 40px;
  border-top: grey 1px solid;
  border-bottom: grey 1px solid;
}

#contact {
  text-align: center;
  padding: 40px;
}
